
td,th,div{word-break:break-all;word-wrap:break-word}
table{empty-cells:show;}
img{border:0}
h3,h2{display:inline;font-size:14px;}
h3{font-weight:normal}
h2 a,h3 a{color:#000}
h4{margin:20px 0 10px;font-size:1.1em}
.c{clear:both;height:0;font:0/0 Arial;}
.b{font-weight:bold}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.fr{float:right}
.fl{float:left}
/*a link */
a{text-decoration:none;color:#2f5fa1}
a:hover{text-decoration:underline;}
/*font size*/
.f9{font-size:11px;}
.f10{font-size:11px;}
.f12{font-size:12px}
.f14{font-size:14px}
.fn,.fn a{font-weight:normal}
/*span color*/
.s1{color:#008000;}
.s2{color:#984B98;}
.s3{color:#FA891B;}
.s4{color:#0033FF;}
.s5{color:#659B28}
.gray{color:#818a89}
/*main color*/
.f_one,.t_one,.r_one{background:#F9F9EC;}
.f_one:hover,.t_one:hover,.r_one:hover{background:#F4FBFF;}
/*form*/
textarea,input,select{font:12px Arial;padding:1px 3px 0 3px;vertical-align:middle;margin-bottom:1px}
select{border:solid 1px #D4EFF7;}
.btn{background:#A6CBE7;color:#004c7d;border-width:1px;padding-left:15px;padding-right:15px;vertical-align:middle}
.input{border:solid 1px #A6CBE7;padding:2px 0px 2px 1px;font-size:1.0em;vertical-align:middle}
form{display:inline;}
textarea{border:solid 1px #A6CBE7;}
/*header*/
#header{max-width:1280px;margin:auto}
/*toolbar*/
.toptool{border-bottom:1px solid #daebcd;}
.toptool span{padding:1px 5px;line-height:150%}
/*banner*/
.banner{padding-right:3%;background:#0F7884}
.banner img{vertical-align:middle;}
.t{border:1px solid #A6CBE7;margin:0px auto 8px;}
.t table{border:1px solid #fff;margin:0 auto;width:99.98%;}
.t2{border-top:#A6CBE7 1px solid;margin:0px auto 5px;}
.t3{margin:auto}
.t4{padding:1px 0 1px 1px}
/*table head*/
.h{border-bottom:4px solid #dbecF4;background:#669934;text-align:left;color:#FFF;padding:5px 7px 3px 7px;}
.h span{font-weight:normal;}
.h h2{font-weight:bold}
.h a{font-family:Arial;color:#004c7d}
.h span a,.h span{color:#5599bb;}
.h a.a2{margin-left:12px;}
/*table tr1*/
.tr1 th{padding:5px 10px;text-align:left;vertical-align:top;font-weight:normal;}
.tr1 td.td1{border:1px solid #D4EFF7;}
/*table tr2*/
.tr2{background:#f3f8ef;color:#659b28;}
.tr2 td,.tr2 th{line-height:21px;border-bottom:1px solid #daebcd;padding:0px 6px 0px;border-top:1px solid #A6CBE7;}
.tr2 a{color:#659b28;margin:2px}
/*table tr3*/
.tr3 td,.tr3 th{border-right:1px solid #D4EFF7;border-bottom:1px solid #D4EFF7;padding:5px 8px}
.tr3 th{text-align:left;font-weight:normal;}
.tr4{background:#B1D3E0;color:#004c7d;}
.tr4 td{padding:4px 10px;}
.tr td,.tr th{padding:2px}




#main{max-width:1280px;margin:auto}
/*y-style*/
.y-style{text-align:center;}
.t table{border:0;width:100%;}
.tr1 th{border-right:1px solid #D4EFF7;}
.tr1 td.td1{border-left:0}
.t{padding:1px}
.signature{height:expression(this.scrollHeight>parseInt(this.currentStyle.maxHeight)?this.currentStyle.maxHeight:"auto");}
/*ad css*/
.sptable h4{margin:0em 0 -.1em;color:#6666FF;font-size:14px;padding-bottom:8px;}
.sptable a{color:#339900;}
.sptable h4:hover{text-decoration:underline;}
.sptable td{cursor:pointer;text-align:left;}